#source {
	#content {
		pre {
			margin: 20px 0;
			width: 100%;
			padding: 20px 0;
			border-radius: 5px;
			overflow: hidden;
			@include box-sizing(border-box);
			@include box-shadow(0 0 5px #888 inset); 
			@include background(
				linear-gradient(left, rgba(0,0,0,0) 61px, #abced4 61px, #abced4 63px, rgba(0,0,0,0) 63px),
				linear-gradient(#eee .1em, rgba(0,0,0,0) .1em)
			);
			background-color: #fff;
			background-size: 100% 19px;
			line-height: 19px;
			background-position: 0 0, 0 1px;
		}
		a[data-line] {
			display: block;
			padding: 0 20px;
			&.highlight {
				@include background(
					linear-gradient(top, #333 1px, rgba(0,0,0,0) 1px),
					linear-gradient(bottom, #333 1px, rgba(0,0,0,0) 1px)
				);
				background-color: rgba(225,225,225,0.4);
			}
			
			&:before {
				content: attr(data-line) ':';
				width: 35px;
				text-align: right;
				display: inline-block;
				margin-right: 15px;
				line-height: 19px;
			}
		}
	}
}