#content {
	padding-left: 100px;
	font-size: 13px;
	
	h1 {
		font-size: 30px;
		color: $blue;
		line-height: 1;
		
		span {
			display: block;
			font-size: 13px;
			color: $medgrey;
		}
	}
	
	> strong {
		color: $medgrey;
	}
	
	h2,h3 {
		@include headline;
	}
	
	dl {
		@extend .col-wrapper;
		dt {
			@include headline;
		}
		
		&.dependencies dd {
			margin-right: 10px;
			float: left;
		}
		
		&.tags > dd,
		dd.extended dd {
			border-bottom: 1px dashed $medgrey;
			padding: 5px 0;
			@extend .col-wrapper;
			b, ul, span, > p {
				@extend .col-2;
				margin-bottom: 5px;
			}
		}
		dd.extended {
			padding-bottom: 0;
			dl {
				border-top: 1px dashed $medgrey;
				clear: both;
				background-color: rgba(128,0,255,0.15);
				padding: 5px 10px;
				float: left;
				@include box-sizing(border-box);
				width: 100%;
			}
			dd {
				border-color: #eee;
			}
			dd:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
		}
		
		
		dd.functions {
			padding-top: 0;
			border-bottom: none;
			
			> dl > dt {
				@include headline2;
				border-top: 1px solid $medgrey;
				padding-top: 5px;
			}
			> dl > dd {
				border-left: 2px solid #f80;
				padding-left: 10px;
			}
			b, ul, span, > p {
				margin-right: 15px;
			}
		}
		
		pre {
			color: white;
			background-color: $darkgrey;
			padding: 10px 0 10px 20px;
			margin-top: 10px;
		}
	}
}

