@mixin headline {
	color: $darkgrey;
	font: {
		size: 16px;
		weight: bold;
	}
	margin-top: 20px;
	letter-spacing: -0.07em;
}

@mixin headline2 {
	color: $blue;
	font: {
		size: 16px;
		weight: normal;
	}
	margin-top: 10px;
	letter-spacing: -0.07em;
	margin-bottom: 10px;
}