!!! 5
html
	head
		title Dokumentation
		link(rel="stylesheet",href="css/style.css",media="all")
		link(rel="stylesheet",href="css/font-awesome.css",media="all")
	body
		#wrapper
			include partials/header
			include partials/filter
			#main.items
				include partials/items.jade