!!! 5
html
	head
		title Dokumentation
		link(rel="stylesheet",href="css/style.css",media="all")
	body#item
		#wrapper
			include partials/header
			#main
				aside.items
					include partials/filter
					include partials/items.jade
				include partials/content.jade