!!! 5
html
	head
		title Dokumentation
		link(rel="stylesheet",href="css/style.css",media="all")
	body
		#wrapper
			header
				h1
					em Aperto
					span
						b JS
						| Bausteine
					strong Dokumentation