!!! 5
html
	head
		meta(charset="utf-8")
		title Dokumentation
		link(rel="stylesheet",href="css/style.css",media="all")
		script(data-main="js/main.js",src="js/libs/require-jquery.js")
	body#item
		#wrapper
			include partials/header
			#main
				aside.items
					include partials/filter
					include partials/items.jade
				include partials/content.jade