@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/sprites";

@import "defs/vars";
@import "defs/mixins";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #fff url(../img/bgs/bg.png);
	font: normal normal normal 62.5% / 1.3 $fontFamily;
	overflow-y: scroll;
}

input,
textarea {
	font-family: $fontFamily;
}

#wrapper {
	@include box-sizing(border-box);
	margin: 30px auto 50px;
	width: 90%;
}

.col-wrapper {
	@extend .clearfix;
}
.col {
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
	position: relative;
}

@for $i from 1 through $col_count {
	.col-#{$i} {
		@extend .col;
		width: ($steg*$i + $gap*($i - 1))*1px;
	}
}

.clearfix {
	&:before,
	&:after {
		display: table;
		visiblity: hidden;
		clear: both;
		content: ' ';
	}
}

/* header & logo */
@import "partials/header";
@import "partials/filter";
@import "partials/items";

#item #main {
	padding-left: 220px;
	position: relative;
	aside {
		position: fixed;
		left: 5%;
		top: 30px;
		width: 14.2%;
		min-width: 237px;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	aside section.col {
		margin-right: 0;
	}
}

@import "partials/content";
@import "partials/types";