#filter
	form
		.col.col-1
			input(type="search",placeholder="Suche",name="filter")
			button
				span Los
		.col.col-2
			ul.props
				for type in self.types
					li
						input(id="#{type}",type="checkbox",name="#{type}",checked)
						label(for="#{type}")= type